<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css" integrity="sha512-TQQ3J4WkE/rwojNFo6OJdyu6G8Xe9z8rMrlF9y7xpFbQfW5g8aSWcygCQ4vqRiJqFsDsE1T6MoAOMJkFXlrI9A==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{{ form_start(form) }}
    <label for="quittingAt">Išėjimo iš darbo data</label>
    <div class="input-group">
        {{form_widget(form.quittingAt, {'attr': {'class' : 'form-control', 'type' : 'text', 'autocomplete' : 'off'}}) }}
        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
    </div>
    

    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">{{ button_label|default('Išsaugoti') }}</button>
{{ form_end(form) }}

<script
  src="https://code.jquery.com/jquery-3.6.0.slim.js"
  integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

<script>
$.fn.datepicker.dates['lt'] = {
    days: ["Sekmadienis", "Pirmadienis", "Antradienis", "Trečiadienis", "Ketvirtadienis", "Penktadienis", "Šeš"],
    daysShort: ["S", "Pr", "A", "T", "K", "Pe", "Š"],
    daysMin: ["S", "Pr", "A", "T", "K", "Pe", "Š"],
    months: ["Sausis", "Vasaris", "Kovas", "Balandis", "Gegužė", "Birželis", "Liepa", "Rugpjūtis", "Rugsėjis", "Spalis", "Lapkritis", "Gruodis"],
    monthsShort: ["Sau", "Vas", "Kov", "Bal", "Geg", "Bir", "Lie", "Rgp", "Rgs", "Spa", "Lap", "Gru"],
    today: "Šiandien",
    clear: "Clear",
    format: "yyyy-mm-dd",
    titleFormat: "yyyy MM", /* Leverages same syntax as 'format' */
    weekStart: 1
    };
$('#resignation_request_quittingAt').datepicker({
    startDate: '0d',
    language: 'lt'
});
</script>