{% extends 'base.html.twig' %}

{% block title %}Naujas prašymas išeiti iš darbo{% endblock %}

{% block body %}
    <h1>Naujas prašymas išeiti iš darbo</h1>

    {% for message in app.flashes('negalima')%}
        <div class="flash-notice">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}
    {{ include('resignation_request/_form.html.twig') }}

{% endblock %}
