{% extends 'base.html.twig' %}

{% block title %}Prašymas išeiti iš darbo{% endblock %}

{% block body %}
    <h1>Prašymas išeiti iš darbo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Pateikė</th>
                <td>{{ resignation_request.submitter ? resignation_request.submitter.name ~ ' ' ~ resignation_request.submitter.lastname : '' }}</td>
            </tr>
            <tr>
                <th>Pateikimo data</th>
                <td>{{ resignation_request.submittedAt ? resignation_request.submittedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Išėjimo data</th>
                <td>{{ resignation_request.quittingAt ? resignation_request.quittingAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Vadovo patvirtinimo statusas</th>
                {% if resignation_request.statusByManager == constant('APP\\Entity\\ResignationRequest::STATUS_SUBMITTED') %}
                    <td>{{ constant('APP\\Entity\\ResignationRequest::STATUS_SUBMITTED_TEXT') }}</td>
                {% elseif resignation_request.statusByManager == constant('APP\\Entity\\ResignationRequest::STATUS_APPROVED') %}
                    <td>{{ constant('APP\\Entity\\ResignationRequest::STATUS_APPROVED_TEXT') }}</td>
                {% elseif resignation_request.statusByManager == constant('APP\\Entity\\ResignationRequest::STATUS_REJECTED') %}
                    <td>{{ constant('APP\\Entity\\ResignationRequest::STATUS_REJECTED_TEXT') }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Patvirtinęs vadovas</th>
                <td>{{ resignation_request.approverManager ? resignation_request.approverManager.name ~ ' ' ~ resignation_request.approverManager.lastname : '' }}</td>
            </tr>
            <tr>
                <th>Vadovo patvirtinimo data</th>
                <td>{{ resignation_request.approvedByManagerAt ? resignation_request.approvedByManagerAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Administratoriaus patvirtinimo statusas</th>
                {% if resignation_request.statusByAdministrator == constant('APP\\Entity\\ResignationRequest::STATUS_SUBMITTED') %}
                    <td>{{ constant('APP\\Entity\\ResignationRequest::STATUS_SUBMITTED_TEXT') }}</td>
                {% elseif resignation_request.statusByAdministrator == constant('APP\\Entity\\ResignationRequest::STATUS_APPROVED') %}
                    <td>{{ constant('APP\\Entity\\ResignationRequest::STATUS_APPROVED_TEXT') }}</td>
                {% elseif resignation_request.statusByAdministrator == constant('APP\\Entity\\ResignationRequest::STATUS_REJECTED') %}
                    <td>{{ constant('APP\\Entity\\ResignationRequest::STATUS_REJECTED_TEXT') }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Patvirtinęs administratorius</th>
                <td>{{ resignation_request.approverAdministrator ? resignation_request.approverAdministrator.name ~ ' ' ~ resignation_request.approverAdministrator.lastname : '' }}</td>
            </tr>
            <tr>
                <th>Administratoriaus patvirtinimo data</th>
                <td>{{ resignation_request.approvedByAdministratorAt ? resignation_request.approvedByAdministratorAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Buhalterio patvirtinimo statusas</th>
                {% if resignation_request.statusByAccountant == constant('APP\\Entity\\ResignationRequest::STATUS_SUBMITTED') %}
                    <td>{{ constant('APP\\Entity\\ResignationRequest::STATUS_SUBMITTED_TEXT') }}</td>
                {% elseif resignation_request.statusByAccountant == constant('APP\\Entity\\ResignationRequest::STATUS_APPROVED') %}
                    <td>{{ constant('APP\\Entity\\ResignationRequest::STATUS_APPROVED_TEXT') }}</td>
                {% elseif resignation_request.statusByAccountant == constant('APP\\Entity\\ResignationRequest::STATUS_REJECTED') %}
                    <td>{{ constant('APP\\Entity\\ResignationRequest::STATUS_REJECTED_TEXT') }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Patvirtinęs buhalteris</th>
                <td>{{ resignation_request.approverAccountant ? resignation_request.approverAccountant.name ~ ' ' ~ resignation_request.approverAccountant.lastname : '' }}</td>
            </tr>
            <tr>
                <th>Buhalterio patvirtinimo data</th>
                <td>{{ resignation_request.approvedByAccountantAt ? resignation_request.approvedByAccountantAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IT administratoriaus patvirtinimo statusas</th>
                {% if resignation_request.statusByITadmin == constant('APP\\Entity\\ResignationRequest::STATUS_SUBMITTED') %}
                    <td>{{ constant('APP\\Entity\\ResignationRequest::STATUS_SUBMITTED_TEXT') }}</td>
                {% elseif resignation_request.statusByITadmin == constant('APP\\Entity\\ResignationRequest::STATUS_APPROVED') %}
                    <td>{{ constant('APP\\Entity\\ResignationRequest::STATUS_APPROVED_TEXT') }}</td>
                {% elseif resignation_request.statusByITadmin == constant('APP\\Entity\\ResignationRequest::STATUS_REJECTED') %}
                    <td>{{ constant('APP\\Entity\\ResignationRequest::STATUS_REJECTED_TEXT') }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Patvirtinęs IT administratorius</th>
                <td>{{ resignation_request.approverITadmin ? resignation_request.approverITadmin.name ~ ' ' ~ resignation_request.approverITadmin.lastname : '' }}</td>
            </tr>
            <tr>
                <th>IT administratoriaus patvirtinimo data</th>
                <td>{{ resignation_request.approvedByITadminAt ? resignation_request.approvedByITadminAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Teisininko patvirtinimo statusas</th>
                {% if resignation_request.statusByLawyer == constant('APP\\Entity\\ResignationRequest::STATUS_SUBMITTED') %}
                    <td>{{ constant('APP\\Entity\\ResignationRequest::STATUS_SUBMITTED_TEXT') }}</td>
                {% elseif resignation_request.statusByLawyer == constant('APP\\Entity\\ResignationRequest::STATUS_APPROVED') %}
                    <td>{{ constant('APP\\Entity\\ResignationRequest::STATUS_APPROVED_TEXT') }}</td>
                {% elseif resignation_request.statusByLawyer == constant('APP\\Entity\\ResignationRequest::STATUS_REJECTED') %}
                    <td>{{ constant('APP\\Entity\\ResignationRequest::STATUS_REJECTED_TEXT') }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Patvirtinęs teisininkas</th>
                <td>{{ resignation_request.approverLawyer ? resignation_request.approverLawyer.name ~ ' ' ~ resignation_request.approverLawyer.lastname : '' }}</td>
            </tr>
            <tr>
                <th>Teisininko patvirtinimo data</th>
                <td>{{ resignation_request.approvedByLawyerAt ? resignation_request.approvedByLawyerAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr> 
        </tbody>
    </table>

{% endblock %}
