{{ form_start(form) }}
    <label for="text">Jūsų anoniminis skundas</label>
    {{ form_widget(form.text, {'attr': {'class': 'form-control'}}) }}

    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">{{ button_label|default('Išsaugoti') }}</button>
{{ form_end(form) }}
