{% extends 'base.html.twig' %}

{% block title %}Anoniminiai skundai{% endblock %}

{% block body %}
    <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <h1>Anoniminiai skundai</h1>

    <table class="table table-hover" id="anonymousComplaints">
        <thead>
            <tr>
                <th>Sukūrimo data</th>
                <th>Skundas</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for anonymous_complaint in anonymous_complaints %}
            <tr>
                <td>{{ anonymous_complaint.createdAt ? anonymous_complaint.createdAt|date('Y-m-d H:i:s') : ''  }}</td>
                {% if anonymous_complaint.text|length > 100 %}
                <td>{{ anonymous_complaint.text|slice(0,100) }}...</td>
                {% else %}
                <td>{{ anonymous_complaint.text }}</td>
                {% endif %}
                <td>
                    <a class="btn btn-primary" href="{{ path('anonymous_complaint_show', {'id': anonymous_complaint.id}) }}">Rodyti</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Įrašų nerasta</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>

    <script>
    $(document).ready(function() {
        $('#anonymousComplaints').DataTable( {
            "language": {
                "emptyTable": "Lentelėje nėra duomenų",
                "info": "Rodomi įrašai nuo _START_ iki _END_ iš _TOTAL_ įrašų",
                "infoEmpty": "Rodomi įrašai nuo 0 iki 0 iš 0",
                "infoFiltered": "(atrinkta iš _MAX_ įrašų)",
                "infoThousands": " ",
                "lengthMenu": "Rodyti _MENU_ įrašus",
                "loadingRecords": "Įkeliama...",
                "processing": "Apdorojama...",
                "search": "Ieškoti:",
                "thousands": " ",
                "zeroRecords": "Įrašų nerasta",
                "paginate": {
                    "first": "Pirmas",
                    "previous": "Ankstesnis",
                    "next": "Tolimesnis",
                    "last": "Paskutinis"
                },
                "searchPlaceholder": "Ieškoti"
            },
            "order": [[0, 'desc']]
        }
        );
    } );
    
    </script>

{% endblock %}
