{% extends 'base.html.twig' %}

{% block title %}Anoniminis skundas{% endblock %}

{% block body %}
    <h1>Anoniminis skundas</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Sukūrimo data</th>
                <td>{{ anonymous_complaint.createdAt ? anonymous_complaint.createdAt|date('Y-m-d H:i:s') : ''  }}</td>
            </tr>
            <tr>
                <th>Skundas</th>
                <td>{{ anonymous_complaint.text }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('anonymous_complaint_index') }}">Grįžti į sąrašą</a>

{% endblock %}
