<form method="post" action="{{ path('knowledge_base_record_delete', {'id': knowledge_base_record.id}) }}" onsubmit="return confirm('Ar tikrai norite ištrinti šį įrašą?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ knowledge_base_record.id) }}">
    <button class="btn btn-primary mt-3">Ištrinti</button>
</form>
