{{ form_start(form) }}
    <label for="title">Žinių bazės įrašo pavadinimas</label>
    {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Įrašo pavadinimas'}}) }}
    <label class="mt-3" for="content">Žinių bazės įrašo turinys</label>
    {{ form_widget(form.content) }}

    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">{{ button_label|default('Išsaugoti') }}</button>
{{ form_end(form) }}
