{% extends 'base.html.twig' %}

{% block title %}Redaguoti žinių bazės įrašą{% endblock %}

{% block body %}
    <h1>Redaguoti žinių bazės įrašą</h1>

    {% for message in app.flashes('content')%}
        <div class="flash-notice">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}

    {{ include('knowledge_base_record/_form.html.twig', {'button_label': 'Atnaujinti'}) }}
    {{ include('knowledge_base_record/_delete_form.html.twig') }}

    <a class="btn btn-primary mt-3" href="{{ path('knowledge_base_record_index') }}">Grįžti į sąrašą</a>
{% endblock %}
