{% extends 'base.html.twig' %}

{% block title %}Žinių bazė{% endblock %}

{% block body %}
    <h1>Žinių bazė</h1>



    {% if is_granted('ROLE_MODERATOR') %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Pavadinimas</th>
                <th scope="col">Sukūrė</th>
                <th scope="col">Sukūrimo data</th>
                <th scope="col">Atnaujino</th>
                <th scope="col">Atnaujinimo data</th>
                <th scope="col">Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for knowledge_base_record in knowledge_base_records %}
            <tr>
                <td><a class="knowledgeBaseRecord" href="{{ path('knowledge_base_record_show', {'id': knowledge_base_record.id}) }}">{{ knowledge_base_record.title }}</a></td>
                <td>{{ knowledge_base_record.author ? knowledge_base_record.author.name ~ " " ~ knowledge_base_record.author.lastname : '' }}</td>
                <td>{{ knowledge_base_record.createdAt ? knowledge_base_record.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ knowledge_base_record.lastContributor ? knowledge_base_record.lastContributor.name ~ " " ~ knowledge_base_record.lastContributor.lastname : '' }}</td>
                <td>{{ knowledge_base_record.updatedAt ? knowledge_base_record.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td><a class="btn btn-primary" href="{{ path('knowledge_base_record_edit', {'id': knowledge_base_record.id}) }}">Redaguoti</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Įrašų nerasta</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('knowledge_base_record_new') }}">Sukurti naują įrašą</a>
    {% else %}
    
    <ul class="list-group list-group-flush list-group-numbered">
        {% for knowledge_base_record in knowledge_base_records %}
        <li class="list-group-item"><a class="knowledgeBaseRecord" href="{{ path('knowledge_base_record_show', {'id': knowledge_base_record.id}) }}">{{ knowledge_base_record.title }}</a></li>
        {% endfor %}
    </ul>

    {% endif %}
{% endblock %}
