{% extends 'base.html.twig' %}

{% block title %}Žinių bazės įrašas{% endblock %}

{% block body %}
    <h1>{{ knowledge_base_record.title }}</h1>

    {{ knowledge_base_record.content|raw }}

    {% if is_granted('ROLE_MODERATOR') %} 
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Sukūrė</th>
                <td>{{ knowledge_base_record.author.name }} {{ knowledge_base_record.author.lastname }}</td>
            </tr>
            <tr>
                <th>Sukūrimo data</th>
                <td>{{ knowledge_base_record.createdAt ? knowledge_base_record.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Atnaujino</th>
                <td>{{ knowledge_base_record.lastContributor.name }} {{ knowledge_base_record.lastContributor.lastname }}</td>
            </tr>
            <tr>
                <th>Atnaujinimo data</th>
                <td>{{ knowledge_base_record.updatedAt ? knowledge_base_record.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('knowledge_base_record_edit', {'id': knowledge_base_record.id}) }}">Redaguoti</a>
    {{ include('knowledge_base_record/_delete_form.html.twig') }}
    {% endif %}

    <a class="btn btn-primary mt-3" href="{{ path('knowledge_base_record_index') }}">Grįžti į sąrašą</a>

{% endblock %}
