{% extends 'base.html.twig' %}

{% block title %}Žmogiškųjų išteklių valdymo IS{% endblock %}

{% block body %}
<h1>Sveiki prisijungę!</h1>
<h4>Žinių bazė</h4>
<p>Čia galite rasti visą su darbo tvarka susijusią informaciją</p>
<h4>Darbuotojų hierarchinis medis</h4>
<p>Čia medžio struktūra atvaizduota darbuotojų hierarchija, galite rasti kitų darbuotojų kontaktus</p>
<h4>Mano profilis</h4>
<p>Galite peržiūrėti savo informaciją, saugomą duomenų bazėje. Radus netikslumų kreiptis į IT administratorių</p>
<h4>Mano prašymai</h4>
<p>Atvaizduojami Jūsų prašymai: apmokėti sąskaitas faktūras, atostogų ir išėjimo iš darbo.</p>
<h4>Prašymų pildymas</h4>
<p>Galima teikti trijų tipų prašymus: apmokėti sąskaitas faktūras, atostogų ir išėjimo iš darbo.</p>
<h4>Nedarbingumo kalendorius</h4>
<p>Galite peržiūrėti savo kolegų ir vadovo patvirtintų atostogų datas, atvaizduotas kalendoriuje.</p>
<h4>Anoniminio skundo teikimas</h4>
<p>Čia galite teikti anoniminį skundą dėl įmonėje susidariusios nemalonios situacijos.</p>
<h4>Atsiliepimų pildymas</h4>
<p>Čia galite pildyti atsiliepimą apie kitą darbuotoją.</p>
<h4>Atsijungti</h4>
<p>Baigus darbą su sistema, galite atsijungti.</p>
{% endblock %}
