{{ form_start(form) }}
    <label for="question">Klausimas</label>
    {{ form_widget(form.question, {'attr': {'class': 'form-control'}}) }}
    <label for="answerType">Atsakymo tipas</label>
    {{ form_widget(form.answerType, {'attr': {'class': 'form-control'}}) }}
    <label class="form-check-label" for="activeStatus">Aktyvus</label>
    {{ form_widget(form.activeStatus, {'attr': {'class': 'form-check-input'}}) }}

    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">{{ button_label|default('Išsaugoti') }}</button>
{{ form_end(form) }}
