{% extends 'base.html.twig' %}

{% block title %}Redaguoti atsiliepimo klausimą{% endblock %}

{% block body %}
    <h1>Redaguoti atsiliepimo klausimą</h1>

    {{ include('feedback_question/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

    <a class="btn btn-primary mt-3" href="{{ path('feedback_question_index') }}">Grįžti į sąrašą</a>

{% endblock %}
