{% extends 'base.html.twig' %}

{% block title %}Atsiliepimo klausimai{% endblock %}

{% block body %}
    <h1>Atsiliepimo klausimai</h1>

    <h3>Aktyvūs atsiliepimo klausimai</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nr.</th>
                <th>Klausimas</th>
                <th>Atsakymo tipas</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback_question in feedback_questions.active %}
            <tr>
                <td>{{ feedback_question.number }}
                    {% if feedback_question.number != 1 %}
                    <a class="btn btn-sm btn-primary" href="{{ path('feedback_question_up', {'id': feedback_question.id}) }}">&#8593;</a>
                    {% endif %}
                    {% if feedback_question.number != feedback_questions.maxQuestionNumber.number %}
                    <a class="btn btn-sm btn-primary" href="{{ path('feedback_question_down', {'id': feedback_question.id}) }}">&#8595;</a>
                    {% endif %}
                </td>
                <td>{{ feedback_question.question }}</td>
                {% if feedback_question.answerType == "string" %}
                    <td>{{ 'Tekstinis laukas' }}</td>
                {% elseif feedback_question.answerType == "bool" %}
                    <td>{{ 'Taip/Ne' }}</td>
                {% elseif feedback_question.answerType == "integer" %}
                    <td>{{ 'Įvertinimas balais' }}</td>
                {% endif %}
                <td>
                    <a class="btn btn-primary" href="{{ path('feedback_question_show', {'id': feedback_question.id}) }}">Rodyti</a>
                    <a class="btn btn-primary" href="{{ path('feedback_question_edit', {'id': feedback_question.id}) }}">Redaguoti</a>
                    <a class="btn btn-danger" href="{{ path('feedback_question_deactivate', {'id': feedback_question.id}) }}">Deaktyvuoti</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Įrašų nerasta</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Neaktyvūs atsiliepimo klausimai</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Klausimas</th>
                <th>Atsakymo tipas</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback_question in feedback_questions.notactive %}
            <tr>
                <td>{{ feedback_question.question }}</td>
                {% if feedback_question.answerType == "string" %}
                    <td>{{ 'Tekstinis laukas' }}</td>
                {% elseif feedback_question.answerType == "bool" %}
                    <td>{{ 'Taip/Ne' }}</td>
                {% elseif feedback_question.answerType == "integer" %}
                    <td>{{ 'Įvertinimas balais' }}</td>
                {% endif %}
                <td>
                    <a class="btn btn-primary" href="{{ path('feedback_question_show', {'id': feedback_question.id}) }}">Rodyti</a>
                    <a class="btn btn-primary" href="{{ path('feedback_question_edit', {'id': feedback_question.id}) }}">Redaguoti</a>
                    <a class="btn btn-success" href="{{ path('feedback_question_activate', {'id': feedback_question.id}) }}">Aktyvuoti</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Įrašų nerasta</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary mt-3" href="{{ path('feedback_question_new') }}">Sukurti naują klausimą</a>
{% endblock %}
