{% extends 'base.html.twig' %}

{% block title %}Naujas atsiliepimo klausimas{% endblock %}

{% block body %}
    <h1>Naujas atsiliepimo klausimas</h1>

    {{ include('feedback_question/_form.html.twig') }}

    <a class="btn btn-primary mt-3" href="{{ path('feedback_question_index') }}">Grįžti į sąrašą</a>
{% endblock %}
