{% extends 'base.html.twig' %}

{% block title %}Atsiliepimo klausimas{% endblock %}

{% block body %}
    <h1>Atsiliepimo klausimas</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ feedback_question.id }}</td>
            </tr>
            <tr>
                <th>Nr</th>
                <td>{{ feedback_question.number }}</td>
            </tr>
            <tr>
                <th>Klausimas</th>
                <td>{{ feedback_question.question }}</td>
            </tr>
            <tr>
                <th>Atsakymo tipas</th>
                <td>{{ feedback_question.answerType }}</td>
            </tr>
            <tr>
                <th>Aktyvumo statusas</th>
                <td>{{ feedback_question.activeStatus ? 'Aktyvus' : 'Neaktyvus' }}</td>
            </tr>
            <tr>
                <th>Sukūrė</th>
                <td>{{ feedback_question.author ? feedback_question.author.name ~ ' ' ~ feedback_question.author.lastname : '' }}</td>
            </tr>
            <tr>
                <th>Sukūrimo data</th>
                <td>{{ feedback_question.createdAt ? feedback_question.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Atnaujino</th>
                <td>{{ feedback_question.lastContributor ? feedback_question.lastContributor.name ~ ' ' ~ feedback_question.lastContributor.lastname : '' }}</td>
            </tr>
            <tr>
                <th>Atnaujinimo data</th>
                <td>{{ feedback_question.updatedAt ? feedback_question.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary"href="{{ path('feedback_question_edit', {'id': feedback_question.id}) }}">Redaguoti</a><br>

    <a class="btn btn-primary mt-3" href="{{ path('feedback_question_index') }}">Grįžti į sąrašą</a>

{% endblock %}
