{% extends 'base.html.twig' %}

{% block title %}Nedarbingumo kalendorius{% endblock %}

{% block body %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css" integrity="sha512-TQQ3J4WkE/rwojNFo6OJdyu6G8Xe9z8rMrlF9y7xpFbQfW5g8aSWcygCQ4vqRiJqFsDsE1T6MoAOMJkFXlrI9A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <h1>Nedarbingumo kalendorius</h1>

    <form action="{{ path('request_calendar') }}" method="post">
        <div class="input-group">
        <input id="date" name="date" class="form-control" type="text" autocomplete="off" value="{{year}}-{{month}}">
        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
        </div>
        <button class="btn btn-primary mt-3 mb-3">Pateikti</button>
    </form>

    <h4>Jūsų, vadovo ir kolegų nedarbingumo kalendorius</h4>
    <table class="table">
        <thead>
            <th></th>
            {% for i in 1..number %}
                {% if i < 10 %}
                    <th>&ensp;{{ i }}</th>
                {% else %}
                    <th>{{ i }}</th>
                {% endif %}
            {% endfor %}
        </thead>
        <tbody>
            {% for user_id, days_array in days1 %}
            <tr>
                {% for user in users1 %}
                    {% if user.id == user_id %}
                        <th>{{user.name}} {{user.lastname}}</th>
                    {% endif %}
                {% endfor %}
                {% for i in 1..number %}
                    {% if i in days_array|keys %}
                        <th class="table-danger"> </th>
                    {% else %}
                        {% if weekends[i] == 1 %}
                            <th class="table-warning"> </th>
                        {% else %}
                            <th class="table-success"> </th>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if users2 is not empty %}
    <h4>Jūsų pavaldinių nedarbingumo kalendorius</h4>
    <table class="table">
        <thead>
            <th></th>
            {% for i in 1..number %}
                {% if i < 10 %}
                    <th>&ensp;{{ i }}</th>
                {% else %}
                    <th>{{ i }}</th>
                {% endif %}
            {% endfor %}
        </thead>
        <tbody>
            {% for user_id, days_array in days2 %}
            <tr>
                {% for user in users2 %}
                    {% if user.id == user_id %}
                        <th>{{user.name}} {{user.lastname}}</th>
                    {% endif %}
                {% endfor %}
                {% for i in 1..number %}
                    {% if i in days_array|keys %}
                        <th class="table-danger"> </th>
                    {% else %}
                        {% if weekends[i] == 1 %}
                            <th class="table-warning"> </th>
                        {% else %}
                            <th class="table-success"> </th>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <script
    src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

    <script>
    $.fn.datepicker.dates['lt'] = {
    days: ["Sekmadienis", "Pirmadienis", "Antradienis", "Trečiadienis", "Ketvirtadienis", "Penktadienis", "Šeš"],
    daysShort: ["S", "Pr", "A", "T", "K", "Pe", "Š"],
    daysMin: ["S", "Pr", "A", "T", "K", "Pe", "Š"],
    months: ["Sausis", "Vasaris", "Kovas", "Balandis", "Gegužė", "Birželis", "Liepa", "Rugpjūtis", "Rugsėjis", "Spalis", "Lapkritis", "Gruodis"],
    monthsShort: ["Sau", "Vas", "Kov", "Bal", "Geg", "Bir", "Lie", "Rgp", "Rgs", "Spa", "Lap", "Gru"],
    today: "Šiandien",
    clear: "Clear",
    format: "yyyy/mm/dd",
    titleFormat: "yyyy MM", /* Leverages same syntax as 'format' */
    weekStart: 1
    };
    $('#date').datepicker({
        startDate: new Date('2021-04-01'),
        format: "yyyy-mm",
        startView: "months", 
        minViewMode: "months",
        language: 'lt',
        autoclose: true
    });
    </script>

{% endblock %}
