{% extends 'base.html.twig' %}

{% block title %}Prašymai{% endblock %}

{% block body %}
    <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <h1>Prašymai</h1>

    <table id="requestsTable" class="table table-hover">
        <thead>
            <tr>
                <th>Pateikė</th>
                <th>Pateikimo data</th>
                <th>Statusas</th>
                <th>Prašymo tipas</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for request_array in requests %}
            {% for type, request in request_array %}
                <tr>
                    <td>{{ request.submitter ? request.submitter.name ~ ' ' ~ request.submitter.lastname : '' }}</td>
                    {% if type is same as('resignation') %}
                        <td>{{ request.submittedAt ? request.submittedAt|date('Y-m-d H:i:s') : '' }}</td>
                    {% else %}
                        <td>{{ request.createdAt ? request.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    {% endif %}
                    {% if request.status == constant('APP\\Entity\\VacationRequest::STATUS_SUBMITTED') %}
                        <td>{{ constant('APP\\Entity\\VacationRequest::STATUS_SUBMITTED_TEXT') }}</td>
                    {% elseif request.status == constant('APP\\Entity\\VacationRequest::STATUS_APPROVED') %}
                        <td>{{ constant('APP\\Entity\\VacationRequest::STATUS_APPROVED_TEXT') }}</td>
                    {% elseif request.status == constant('APP\\Entity\\VacationRequest::STATUS_REJECTED') %}
                        <td>{{ constant('APP\\Entity\\VacationRequest::STATUS_REJECTED_TEXT') }}</td>
                    {% endif %}
                    {% if type is same as('resignation') %}
                        <td>{{ 'Išėjimo iš darbo' }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('resignation_request_show', {'id': request.id}) }}">Rodyti</a>
                        </td>
                    {% elseif type is same as('invoice_refund') %}
                        <td>{{ 'Sąskaitos-faktūros apmokėjimo' }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('invoice_refund_request_show', {'id': request.id}) }}">Rodyti</a>
                        </td>
                    {% elseif type is same as('vacation') %}
                        <td>{{ 'Atostogų' }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('vacation_request_show', {'id': request.id}) }}">Rodyti</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">Įrašų nerasta</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>

    <script>
    $(document).ready(function() {
        $('#requestsTable').DataTable( {
            "language": {
                "emptyTable": "Lentelėje nėra duomenų",
                "info": "Rodomi įrašai nuo _START_ iki _END_ iš _TOTAL_ įrašų",
                "infoEmpty": "Rodomi įrašai nuo 0 iki 0 iš 0",
                "infoFiltered": "(atrinkta iš _MAX_ įrašų)",
                "infoThousands": " ",
                "lengthMenu": "Rodyti _MENU_ įrašus",
                "loadingRecords": "Įkeliama...",
                "processing": "Apdorojama...",
                "search": "Ieškoti:",
                "thousands": " ",
                "zeroRecords": "Įrašų nerasta",
                "paginate": {
                    "first": "Pirmas",
                    "previous": "Ankstesnis",
                    "next": "Tolimesnis",
                    "last": "Paskutinis"
                },
                "searchPlaceholder": "Ieškoti"
            },
            "order": [[1, 'desc']]
        }
        );
    } );
    
    </script>

{% endblock %}
