@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(36,50,89);
}

#sidebar-aside, #sidebar {
    background-color:rgb(36,50,89) !important;
}

#dropdown-container {
    display: none;
}

#dropdown-btn {
    text-decoration: none !important;
    border: none !important;
    background: none !important;
    cursor: pointer !important;
    outline: none !important;
}

.btn-primary, .btn-primary:link, .btn-primary:visited {
    background-color: rgb(36,50,89);
    border-color: rgb(36,50,89);
}

.btn-primary:hover, .btn-primary:active {
    background-color: rgb(36,50,89);
    border-color: rgb(36,50,89);
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.08);
}

.knowledgeBaseRecord {
    text-decoration: none;
    color: rgb(36,50,89);
}