{% extends 'base.html.twig' %}

{% block title %}Naujas atostogų prašymas{% endblock %}

{% block body %}
    <h1>Naujas atostogų prašymas</h1>

    {% for messages in app.flashes(['substitute', 'max_bussines_days'])%}
        <div class="flash-notice">
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="flash-notice">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Jūs galite pasiimti {{ available_days }} apmokamų atostogų darbo dienų</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    {{ include('vacation_request/_form.html.twig') }}

{% endblock %}
