{% extends 'base.html.twig' %}

{% block title %}Atostogų prašymas{% endblock %}

{% block body %}
    <h1>Atostogų prašymas</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Pateikė</th>
                <td>{{ vacation_request.submitter ? vacation_request.submitter.name ~ ' ' ~ vacation_request.submitter.lastname : '' }}</td>
            </tr>
            <tr>
                <th>Pateikimo data</th>
                <td>{{ vacation_request.createdAt ? vacation_request.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statusas</th>
                {% if vacation_request.status == constant('APP\\Entity\\VacationRequest::STATUS_SUBMITTED') %}
                    <td>{{ constant('APP\\Entity\\VacationRequest::STATUS_SUBMITTED_TEXT') }}</td>
                {% elseif vacation_request.status == constant('APP\\Entity\\VacationRequest::STATUS_APPROVED') %}
                    <td>{{ constant('APP\\Entity\\VacationRequest::STATUS_APPROVED_TEXT') }}</td>
                {% elseif vacation_request.status == constant('APP\\Entity\\VacationRequest::STATUS_REJECTED') %}
                    <td>{{ constant('APP\\Entity\\VacationRequest::STATUS_REJECTED_TEXT') }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Atostogų tipas</th>
                <td>{{ vacation_request.vacationType ? vacation_request.vacationType.title : '' }}</td>
            </tr>
            <tr>
                <th>Atostogų pradžia</th>
                <td>{{ vacation_request.startsAt ? vacation_request.startsAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Atostogų pabaiga</th>
                <td>{{ vacation_request.finishesAt ? vacation_request.finishesAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Pavaduojantis darbuotojas</th>
                <td>{{ vacation_request.substitute ? vacation_request.substitute.name ~ ' ' ~ vacation_request.substitute.lastname : '' }}</td>
            </tr>
            <tr>
                <th>Patvirtinęs vadovas</th>
                <td>{{ vacation_request.approver ? vacation_request.approver.name ~ ' ' ~ vacation_request.approver.lastname : '' }}</td>
            </tr>
            <tr>
                <th>Patvirtinimo data</th>
                <td>{{ vacation_request.acceptedAt ? vacation_request.acceptedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
