{{ form_start(form) }}
    <label for="refundAmount">Grąžintina suma</label>
    {{ form_widget(form.refundAmount, {'attr': {'class': 'form-control'}}) }}
    <label class="mt-3" for="invoiceFileName">Įkelkite sąskaitą-faktūrą</label>
    {{ form_widget(form.invoiceFileName, {'attr': {'class': 'form-control'}}) }}

    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">{{ button_label|default('Išsaugoti') }}</button>
{{ form_end(form) }}
