{% extends 'base.html.twig' %}

{% block title %}Naujas prašymas apmokėti sąskaitą-faktūrą{% endblock %}

{% block body %}
    <h1>Naujas prašymas apmokėti sąskaitą-faktūrą</h1>

    {% for messages in app.flashes(['refundAmount', 'file'])%}
        <div class="flash-notice">
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    {% endfor %}

    {{ include('invoice_refund_request/_form.html.twig') }}

{% endblock %}
