{% extends 'base.html.twig' %}

{% block title %}Sąskaitos-faktūros apmokėjimo prašymas{% endblock %}

{% block body %}
    <h1>Sąskaitos-faktūros apmokėjimo prašymas</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Pateikė</th>
                <td>{{ invoice_refund_request.submitter.name }} {{ invoice_refund_request.submitter.lastname }}</td>
            </tr>
            <tr>
                <th>Pateikimo data</th>
                <td>{{ invoice_refund_request.createdAt ? invoice_refund_request.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statusas</th>
                {% if invoice_refund_request.status == constant('APP\\Entity\\InvoiceRefundRequest::STATUS_SUBMITTED') %}
                    <td>{{ constant('APP\\Entity\\InvoiceRefundRequest::STATUS_SUBMITTED_TEXT') }}</td>
                {% elseif invoice_refund_request.status == constant('APP\\Entity\\InvoiceRefundRequest::STATUS_APPROVED') %}
                    <td>{{ constant('APP\\Entity\\InvoiceRefundRequest::STATUS_APPROVED_TEXT') }}</td>
                {% elseif invoice_refund_request.status == constant('APP\\Entity\\InvoiceRefundRequest::STATUS_REJECTED') %}
                    <td>{{ constant('APP\\Entity\\InvoiceRefundRequest::STATUS_REJECTED_TEXT') }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Grąžintina suma</th>
                <td>{{ invoice_refund_request.refundAmount }}</td>
            </tr>
            <tr>
                <th>Sąskaitos-faktūros dokumentas</th>
                <td>{{ invoice_refund_request.invoiceFileName }} <a href="{{ path('invoice_document_show', {id: invoice_refund_request.id}) }}">Peržiūrėti PDF dokumentą</a></td>
            </tr>
            <tr>
                <th>Patvirtino</th>
                <td>{{ invoice_refund_request.approver ? invoice_refund_request.approver.name ~ ' ' ~ invoice_refund_request.approver.lastname : '' }}</td>
            </tr>
            <tr>
                <th>Patvirtinimo data</th>
                <td>{{ invoice_refund_request.acceptedAt ? invoice_refund_request.acceptedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
