<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            {{ encore_entry_link_tags('tree') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('tree') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row min-vh-100 flex-column flex-md-row" id="sidebar-div">
                <aside class="col-12 col-md-3 col-xl-2 p-0 bg-dark flex-shrink-1" id="sidebar-aside">
                    <nav class="navbar navbar-expand-md navbar-dark bd-dark flex-md-column flex-row align-items-start py-2 text-start sticky-top" id="sidebar">
                        <div class="text-center p-3">
                            <a href="{{ path('main') }}" class="navbar-brand mx-0 font-weight-bold text-wrap" title="">Žmogiškųjų išteklių valdymo IS</a>
                        </div>
                        <button type="button" class="navbar-toggler border-0 order-1" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse order-last" id="nav">
                            <ul class="navbar-nav flex-column w-100 justify-content-start">
                                <li class="nav-item">
                                    <a href="{{ path('knowledge_base_record_index') }}" class="nav-link active"><div style="width:20px; display:inline-block;text-align:center"><i class="fa fa-lightbulb-o"></i></div> Žinių bazė</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('user_hierarchy') }}" class="nav-link active"><div style="width:20px; display:inline-block;text-align:center"><i class="fa fa-users"></i></div> Darbuotojų hierarchinis medis</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('user_show', {id: app.user.id}) }}" class="nav-link active"><div style="width:20px; display:inline-block;text-align:center"><i class="fa fa-user-circle"></i></div> Mano profilis</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('request_index') }}" class="nav-link active"><div style="width:20px; display:inline-block;text-align:center"><i class="fa fa-file-text-o"></i></div> Mano prašymai</a>
                                </li>
                                <li class="nav-item">
                                    <a id="dropdown-btn" style="cursor: pointer" class="nav-link active"><i class="fa fa-pencil-square-o"></i> Prašymų pildymas</a>
                                </li>
                                <div id="dropdown-container" style="display:none">
                                    <li class="nav-item">
                                        <a href="{{ path('vacation_request_new') }}" class="nav-link active"><div style="padding-left:20px;"> Atostogų prašymo teikimas</div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('invoice_refund_request_new') }}" class="nav-link active"><div style="padding-left:20px;"> Sąskaitų-faktūrų apmokėjimo prašymo teikimas</div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('resignation_request_new') }}" class="nav-link active"><div style="padding-left:20px;"> Išėjimo iš darbo prašymo teikimas</div></a>
                                    </li>
                                </div>
                                <li class="nav-item">
                                    <a href="{{ path('request_calendar') }}" class="nav-link active"><div style="width:20px; display:inline-block;text-align:center"><i class="fa fa-calendar-times-o"></i></div> Nedarbingumo kalendorius</a>
                                </li>                             
                                <li class="nav-item">
                                    <a href="{{ path('anonymous_complaint_new') }}" class="nav-link active"><div style="width:20px; display:inline-block;text-align:center"><i class="fa fa-exclamation-triangle"></i></div> Anoniminio skundo teikimas</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('feedback_new') }}" class="nav-link active"><div style="width:20px; display:inline-block;text-align:center"><i class="fa fa-refresh"></i></div> Atsiliepimų pildymas</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a id="dropdown-btn1" style="cursor: pointer" class="nav-link active"><i class="fa fa-chevron-down"></i> Administratoriaus posistemė</a>
                                </li>
                                <div id="dropdown-container1" style="display:none">
                                    <li class="nav-item">
                                        <a href="{{ path('resignation_request_approvers_index') }}" class="nav-link active"><div style="padding-left:20px;"> Prašymus tvirtinantys darbuotojai</div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('user_role') }}" class="nav-link active"><div style="padding-left:20px;"> Darbuotojų rolės</div></a>
                                    </li>
                                </div>
                                {% endif %}
                                {% if is_granted('ROLE_ACCOUNTANT') %}
                                <li class="nav-item">
                                    <a id="dropdown-btn2" style="cursor: pointer" class="nav-link active"><i class="fa fa-chevron-down"></i> Buhalterio posistemė</a>
                                </li>
                                <div id="dropdown-container2" style="display:none">
                                    <li class="nav-item">
                                        <a href="{{ path('request_for_approval') }}" class="nav-link active"><div style="padding-left:20px;"> Prašymai tvirtinimui</div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('user_index') }}" class="nav-link active"><div style="padding-left:20px;"> Darbuotojų algos</div></a>
                                    </li>
                                </div>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGER') %}
                                <li class="nav-item">
                                    <a id="dropdown-btn3" style="cursor: pointer" class="nav-link active"><i class="fa fa-chevron-down"></i> Vadovo posistemė</a>
                                </li>
                                <div id="dropdown-container3" style="display:none">
                                    <li class="nav-item">
                                        <a href="{{ path('request_for_approval') }}" class="nav-link active"><div style="padding-left:20px;"> Prašymai tvirtinimui</div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('feedback_index') }}" class="nav-link active"><div style="padding-left:20px;"> Atsiliepimų sąrašas</div></a>
                                    </li>
                                </div>
                                {% endif %}
                                {% if is_granted('ROLE_APPROVER') %}
                                <li class="nav-item">
                                    <a id="dropdown-btn4" style="cursor: pointer" class="nav-link active"><i class="fa fa-chevron-down"></i> Prašymų tvirtintojo posistemė</a>
                                </li>
                                <div id="dropdown-container4" style="display:none">
                                    <li class="nav-item">
                                        <a href="{{ path('request_for_approval') }}" class="nav-link active"><div style="padding-left:20px;"> Prašymai tvirtinimui</div></a>
                                    </li>
                                </div>
                                {% endif %}
                                {% if is_granted('ROLE_MODERATOR') %}
                                <li class="nav-item">
                                    <a id="dropdown-btn5" style="cursor: pointer" class="nav-link active"><i class="fa fa-chevron-down"></i> Moderatoriaus posistemė</a>
                                </li>
                                <div id="dropdown-container5" style="display:none">
                                    <li class="nav-item">
                                        <a href="{{ path('anonymous_complaint_index') }}" class="nav-link active"><div style="padding-left:20px;"> Anoniminiai skundai</div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('feedback_question_index') }}" class="nav-link active"><div style="padding-left:20px;"> Atsiliepimo klausimai</div></a>
                                    </li>
                                </div>
                                {% endif %}
                                <li class="nav-item">
                                    <a href="{{ path('app_logout') }}" class="nav-link active"><div style="width:20px; display:inline-block;text-align:center"><i class="fa fa-sign-out"></i></div> Atsijungti</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </aside>
                <main class="col px-0 flex-grow-1">
                    <div class="container py-3">
                        {% block body %}{% endblock %}
                    </div>
                </main>
            </div>
        </div>
        <script>
        if(document.getElementById("dropdown-btn") !== null){
            document.getElementById("dropdown-btn").addEventListener("click", function() {
                if (document.getElementById("dropdown-container").style.display === "block") {
                    document.getElementById("dropdown-container").style.display = "none";
                } else {
                    document.getElementById("dropdown-container").style.display = "block";
                }
            });
        }
        </script>
        <script>
        if(document.getElementById("dropdown-btn1") !== null){
            document.getElementById("dropdown-btn1").addEventListener("click", function() {
                if (document.getElementById("dropdown-container1").style.display === "block") {
                    document.getElementById("dropdown-container1").style.display = "none";
                } else {
                    document.getElementById("dropdown-container1").style.display = "block";
                }
        
            });
        }
        </script>
        <script>
        if(document.getElementById("dropdown-btn2") !== null){
            document.getElementById("dropdown-btn2").addEventListener("click", function() {
                if (document.getElementById("dropdown-container2").style.display === "block") {
                    document.getElementById("dropdown-container2").style.display = "none";
                } else {
                    document.getElementById("dropdown-container2").style.display = "block";
                }
            });
        }
        </script>
        <script>
        if(document.getElementById("dropdown-btn3") !== null){
            document.getElementById("dropdown-btn3").addEventListener("click", function() {
                if (document.getElementById("dropdown-container3").style.display === "block") {
                    document.getElementById("dropdown-container3").style.display = "none";
                } else {
                    document.getElementById("dropdown-container3").style.display = "block";
                }
            });
        }
        </script>
        <script>
        if(document.getElementById("dropdown-btn4") !== null){
            document.getElementById("dropdown-btn4").addEventListener("click", function() {
                if (document.getElementById("dropdown-container4").style.display === "block") {
                    document.getElementById("dropdown-container4").style.display = "none";
                } else {
                    document.getElementById("dropdown-container4").style.display = "block";
                }
            });
        }
        </script>
        <script>
        if(document.getElementById("dropdown-btn5") !== null){
            document.getElementById("dropdown-btn5").addEventListener("click", function() {
                if (document.getElementById("dropdown-container5").style.display === "block") {
                    document.getElementById("dropdown-container5").style.display = "none";
                } else {
                    document.getElementById("dropdown-container5").style.display = "block";
                }
            });
        }
        </script>
    </body>
</html>
