{{ form_start(form) }}
    <label for="approver">Patvirtinantis darbuotojas</label>
    {{ form_widget(form.approver, {'attr': {'class': 'form-control'}}) }}

    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">{{ button_label|default('Išsaugoti') }}</button>
{{ form_end(form) }}
