{% extends 'base.html.twig' %}

{% block title %}Keisti prašymus tvirtinantį darbuotoją{% endblock %}

{% block body %}
    <h1>Keisti prašymus išeiti iš darbo tvirtinantį darbuotoją</h1>

    <label for="approver">Rolė</label>
    <input class="form-control" type="text" placeholder="{{ resignation_request_approver.role }}" readonly>

    {{ include('resignation_request_approvers/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

    <a class="btn btn-primary mt-3" href="{{ path('resignation_request_approvers_index') }}">Grįžti į sąrašą</a>

{% endblock %}
