{% extends 'base.html.twig' %}

{% block title %}Prašymus tvirtinantys darbuotojai{% endblock %}

{% block body %}
    <h1>Prašymus išeiti iš darbo tvirtinantys darbuotojai</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Rolė</th>
                <th>Darbuotojas</th>
                <th>Pridėjo</th>
                <th>Pridėjimo data</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for resignation_request_approver in resignation_request_approvers %}
            <tr>
                <td>{{ resignation_request_approver.role }}</td>
                <td>{{ resignation_request_approver.approver ? resignation_request_approver.approver.name ~ ' ' ~ resignation_request_approver.approver.lastname : '' }}</td>
                <td>{{ resignation_request_approver.insertor ? resignation_request_approver.insertor.name ~ ' ' ~ resignation_request_approver.insertor.lastname : '' }}</td>
                <td>{{ resignation_request_approver.insertedAt ? resignation_request_approver.insertedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('resignation_request_approvers_show', {'id': resignation_request_approver.id}) }}">Rodyti</a>
                    <a class="btn btn-primary" href="{{ path('resignation_request_approvers_edit', {'id': resignation_request_approver.id}) }}">Redaguoti</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Įrašų nerasta</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
