{% extends 'base.html.twig' %}

{% block title %}Prašymus tvirtinantis darbuotojas{% endblock %}

{% block body %}
    <h1>Prašymus tvirtinantis darbuotojas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Rolė</th>
                <td>{{ resignation_request_approver.role }}</td>
            </tr>
            <tr>
                <th>Darbuotojas</th>
                <td>{{ resignation_request_approver.approver ? resignation_request_approver.approver.name ~ ' ' ~ resignation_request_approver.approver.lastname : '' }}</td>
            </tr>
            <tr>
                <th>Pridėjo</th>
                <td>{{ resignation_request_approver.insertor ? resignation_request_approver.insertor.name ~ ' ' ~ resignation_request_approver.insertor.lastname : '' }}</td>
            </tr>
            <tr>
                <th>Pridėjimo data</th>
                <td>{{ resignation_request_approver.insertedAt ? resignation_request_approver.insertedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('resignation_request_approvers_index') }}">Grįžti į sąrašą</a>

    <a class="btn btn-primary" href="{{ path('resignation_request_approvers_edit', {'id': resignation_request_approver.id}) }}">Redaguoti</a>

{% endblock %}
