{% extends 'base.html.twig' %}

{% block title %}Žmogiškųjų išteklių valdymo IS{% endblock %}

{% block body %}
    <h1 style="color:rgb(237,79,91)">Jūs neturite teisės prieigai prie šio puslapio!</h1>
{% endblock %}