{{ form_start(form) }}
    <label for="salary">Darbuotojo alga</label>
    {{ form_widget(form.salary, {'attr': {'class': 'form-control'}}) }}
    <label class="mt-3" for="paymentType">Darbuotojo mokesčių tipas</label>
    {{ form_widget(form.paymentType, {'attr': {'class': 'form-control'}}) }}

    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">{{ button_label|default('Išsaugoti') }}</button>
{{ form_end(form) }}
