{% extends 'base.html.twig' %}

{% block title %}Redaguoti darbuotoją{% endblock %}

{% block body %}
    <h1>Redaguoti darbuotoją</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

    <a class="btn btn-primary mt-3" href="{{ path('user_index') }}">Grįžti į sąrašą</a>
{% endblock %}
