{% extends 'base.html.twig' %}

{% block title %}Redaguoti darbuotojo roles{% endblock %}

{% block body %}
    <h1>Redaguoti darbuotojo roles</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Vardas</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Pavardė</th>
                <td>{{ user.lastname }}</td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Rolės</th>
                <td>{% for role in user.roles %} 
                        {% if role == 'ROLE_USER' %}
                            {{ 'Darbuotojas' }}
                        {% elseif role == 'ROLE_MANAGER' %}
                            {{ 'Vadovas' }}
                        {% elseif role == 'ROLE_ACCOUNTANT' %}
                            {{ 'Buhalteris' }}
                        {% elseif role == 'ROLE_LAWYER' %}
                            {{ 'Teisininkas' }}
                        {% elseif role == 'ROLE_MODERATOR' %}
                            {{ 'Už turinį atsakingas darbuotojas' }}
                        {% elseif role == 'ROLE_APPROVER' %}
                            {{ 'Prašymus tvirtinantis darbuotojas' }}
                        {% elseif role == 'ROLE_ADMIN' %}
                            {{ 'IT Administratorius' }}
                        {% endif %}
                        {{ ', ' }} 
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    {% if 'ROLE_MANAGER' in user.roles %}
        <a class="mt-3 btn btn-danger" href="{{ path('user_remove_role_manager', {'id': user.id}) }}">Atimti vadovo rolę</a>
    {% else %}
        <a class="mt-3 btn btn-success" href="{{ path('user_add_role_manager', {'id': user.id}) }}">Pridėti vadovo rolę</a>
    {% endif %}
    {% if 'ROLE_ACCOUNTANT' in user.roles %}
        <a class="mt-3 btn btn-danger" href="{{ path('user_remove_role_accountant', {'id': user.id}) }}">Atimti buhalterio rolę</a>
    {% else %}
        <a class="mt-3 btn btn-success" href="{{ path('user_add_role_accountant', {'id': user.id}) }}">Pridėti buhalterio rolę</a>
    {% endif %}
    {% if 'ROLE_LAWYER' in user.roles %}
        <a class="mt-3 btn btn-danger" href="{{ path('user_remove_role_lawyer', {'id': user.id}) }}">Atimti teisininko rolę</a>
    {% else %}
        <a class="mt-3 btn btn-success" href="{{ path('user_add_role_lawyer', {'id': user.id}) }}">Pridėti teisininko rolę</a>
    {% endif %}
    {% if 'ROLE_MODERATOR' in user.roles %}
        <a class="mt-3 btn btn-danger" href="{{ path('user_remove_role_moderator', {'id': user.id}) }}">Atimti už turinį atsakingo darbuotojo rolę</a>
    {% else %}
        <a class="mt-3 btn btn-success" href="{{ path('user_add_role_moderator', {'id': user.id}) }}">Pridėti už turinį atsakingo darbuotojo rolę</a>
    {% endif %}
    {# {% if 'ROLE_APPROVER' in user.roles %}
        <a class="mt-3 btn btn-danger" href="{{ path('user_remove_role_approver', {'id': user.id}) }}">Atimti prašymus tvirtinančio darbuotojo rolę</a>
    {% else %}
        <a class="mt-3 btn btn-success" href="{{ path('user_add_role_approver', {'id': user.id}) }}">Pridėti prašymus tvirtinančio darbuotojo rolę</a>
    {% endif %} #}
    {% if 'ROLE_ADMIN' in user.roles %}
        <a class="mt-3 btn btn-danger" href="{{ path('user_remove_role_admin', {'id': user.id}) }}">Atimti administratoriaus rolę</a>
    {% else %}
        <a class="mt-3 btn btn-success" href="{{ path('user_add_role_admin', {'id': user.id}) }}">Pridėti administratoriaus rolę</a>
    {% endif %}
{% endblock %}
