{% extends 'base.html.twig' %}

{% block title %}Darbuotojų hierarchinis medis{% endblock %}

{% block body %}
    <h1>Darbuotojų hierarchinis medis</h1>

    <div class="tree">
        <ul>
            {% for key, value in tree %}
            <li>
                <span onClick="myFunction({{ key }})" ondblclick="window.location='{{ path('user_show', { 'id' : key }) }}';">{% for user in users %}{% if user.id == key %}{{ user.name ~ ' ' ~ user.lastname }}<br><small>{{ user.position ~ ', ' ~ user.company }}</small>{% endif %}{% endfor %}</span><ul id="{{key}}">{% for key, value in value %}{% include 'user/branch.html.twig' %}{% endfor %}</ul>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <script>
    function myFunction($var) {
        if (document.getElementById($var).style.display !== "none") {
            document.getElementById($var).style.display = "none";
        } else {
            document.getElementById($var).style.display = "block";
        }
    }
    </script>

{% endblock %}
