{% extends 'base.html.twig' %}

{% block title %}Darbuotojų algos{% endblock %}

{% block body %}
    <h1>Darbuotojų algos</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th>Pareigos</th>
                <th>Įmonė</th>
                <th>Alga</th>
                <th>Mokesčių tipas</th>
                <th>Tel. nr.</th>
                <th>El. paštas</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.position }}</td>
                <td>{{ user.company }}</td>
                <td>{{ user.salary ? user.salary : '' }}</td>
                <td>{{ user.paymentType ? user.paymentType.title : '' }}
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('user_show', {'id': user.id}) }}">Rodyti</a>
                    {% if is_granted('ROLE_ACCOUNTANT') %}
                    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Redaguoti</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Įrašų nerasta</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
