{% extends 'base.html.twig' %}

{% block title %}Darbuotojų rolės{% endblock %}

{% block body %}
    <h1>Darbuotojų rolės</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th>Pareigos</th>
                <th>Įmonė</th>
                <th>Rolės</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.position }}</td>
                <td>{{ user.company }}</td>
                <td>
                {% for role in user.roles %}
                    {% if role == 'ROLE_USER' %}
                        {{ 'Darbuotojas' }}
                    {% elseif role == 'ROLE_MANAGER' %}
                        {{ 'Vadovas' }}
                    {% elseif role == 'ROLE_ACCOUNTANT' %}
                        {{ 'Buhalteris' }}
                    {% elseif role == 'ROLE_LAWYER' %}
                        {{ 'Teisininkas' }}
                    {% elseif role == 'ROLE_MODERATOR' %}
                        {{ 'Už turinį atsakingas darbuotojas' }}
                    {% elseif role == 'ROLE_APPROVER' %}
                        {{ 'Prašymus tvirtinantis darbuotojas' }}
                    {% elseif role == 'ROLE_ADMIN' %}
                        {{ 'IT Administratorius' }}
                    {% endif %}
                    {{ ', ' }}
                {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('user_show', {'id': user.id}) }}">Rodyti</a>
                    <a class="btn btn-primary" href="{{ path('user_edit_roles', {'id': user.id}) }}">Redaguoti</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Įrašų nerasta</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
