{% extends 'base.html.twig' %}

{% block title %}Darbuotojas{% endblock %}

{% block body %}
    <h1>Darbuotojas</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Vardas</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Pavardė</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Pareigos</th>
                <td>{{ user.position }}</td>
            </tr>
            <tr>
                <th>Įmonė</th>
                <td>{{ user.company }}</td>
            </tr>
            {% if app.user.id == user.id  or is_granted('ROLE_ACCOUNTANT') %}
            <tr>
                <th>Alga</th>
                <td>{{ user.salary ? user.salary : '' }}</td>
            </tr>
            <tr>
                <th>Mokesčių tipas</th>
                <td>{{ user.paymentType ? user.paymentType.title : '' }}</td>
            </tr>
            <tr>
                <th>Priėmimo data</th>
                <td>{{ user.dateOfEmployment ? user.dateOfEmployment|date('Y-m-d') : '' }}</td>
            </tr>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Rolės</th>
                <td>{% for role in user.roles %} 
                        {% if role == 'ROLE_USER' %}
                            {{ 'Darbuotojas' }}
                        {% elseif role == 'ROLE_MANAGER' %}
                            {{ 'Vadovas' }}
                        {% elseif role == 'ROLE_ACCOUNTANT' %}
                            {{ 'Buhalteris' }}
                        {% elseif role == 'ROLE_LAWYER' %}
                            {{ 'Teisininkas' }}
                        {% elseif role == 'ROLE_MODERATOR' %}
                            {{ 'Už turinį atsakingas darbuotojas' }}
                        {% elseif role == 'ROLE_APPROVER' %}
                            {{ 'Prašymus tvirtinantis darbuotojas' }}
                        {% elseif role == 'ROLE_ADMIN' %}
                            {{ 'IT Administratorius' }}
                        {% endif %}
                        {{ ', ' }} 
                    {% endfor %}
            </td>
            </tr>
            {% endif %}
            <tr>
                <th>Tel. Nr.</th>
                <td>{{ user.phone }}</td>
            </tr>
                        <tr>
                <th>El. paštas</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Adresas</th>
                <td>{{ user.address }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ACCOUNTANT') %}
    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Redaguoti algą</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary" href="{{ path('user_edit_roles', {'id': user.id}) }}">Redaguoti roles</a>
    {% endif %}

{% endblock %}
