{{ form_start(form) }}
    <label for="target">Darbuotojas, kuriam norite palikti atsiliepimą</label>
    {{ form_widget(form.target,  {'attr': {'class': 'form-control'}}) }}
    {{ form_widget(form) }}
    {% for question in questions %}
        <label class="mt-3">{{question.question}}</label>
        {{question.field|raw}}
    {% endfor %}
    <button class="btn btn-primary mt-3">{{ button_label|default('Išsaugoti') }}</button>
{{ form_end(form) }}