{% extends 'base.html.twig' %}

{% block title %}Atsiliepimų sąrašas{% endblock %}

{% block body %}
    <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <h1>Atsiliepimų sąrašas</h1>

    <table class="table" id="feedback_table">
        <thead>
            <tr>
                <th style="display: none">ID</th>
                <th>Autorius</th>
                <th>Adresatas</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedback %}
            <tr>
                <td style="display: none">{{ feedback.id }}</td>
                <td>{{ feedback.submitter ?  feedback.submitter.name ~ ' ' ~ feedback.submitter.lastname : ''}}</td>
                <td>{{ feedback.target ? feedback.target.name ~ ' ' ~ feedback.target.lastname : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('feedback_show', {'id': feedback.id}) }}">Rodyti</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Įrašų nerasta</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>

    <script>
    $(document).ready(function() {
        $('#feedback_table').DataTable( {
            "language": {
                "emptyTable": "Lentelėje nėra duomenų",
                "info": "Rodomi įrašai nuo _START_ iki _END_ iš _TOTAL_ įrašų",
                "infoEmpty": "Rodomi įrašai nuo 0 iki 0 iš 0",
                "infoFiltered": "(atrinkta iš _MAX_ įrašų)",
                "infoThousands": " ",
                "lengthMenu": "Rodyti _MENU_ įrašus",
                "loadingRecords": "Įkeliama...",
                "processing": "Apdorojama...",
                "search": "Ieškoti:",
                "thousands": " ",
                "zeroRecords": "Įrašų nerasta",
                "paginate": {
                    "first": "Pirmas",
                    "previous": "Ankstesnis",
                    "next": "Tolimesnis",
                    "last": "Paskutinis"
                },
                "searchPlaceholder": "Ieškoti"
            },
            'order': [[0, 'desc']]
        }
        );
    } );
    
    </script>

{% endblock %}
