{% extends 'base.html.twig' %}

{% block title %}Naujas atsiliepimas{% endblock %}

{% block body %}
    <h1>Naujas atsiliepimas</h1>

    {% for message in app.flashes('pavyko', 'nepavyko')%}
        <div class="flash-notice">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}

    {{ include('feedback/_form.html.twig') }}

{% endblock %}
