{% extends 'base.html.twig' %}

{% block title %}Atsiliepimas{% endblock %}

{% block body %}
    <h1>Atsiliepimas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Autorius</th>
                <td>{{ feedback.submitter ?  feedback.submitter.name ~ ' ' ~ feedback.submitter.lastname : ''}}</td>
            </tr>
            <tr>
                <th>Adresatas</th>
                <td>{{ feedback.target ? feedback.target.name ~ ' ' ~ feedback.target.lastname : '' }}</td>
            </tr>
            {% for number, answer in feedback.answer %}
                {% for question, answer in answer %}
                    {% for answer_text, answer_type in answer %}
                    <tr>
                        <th>{{number}}. {{question}}</th>
                        {% if answer_type == 'bool'%}
                            <td>{{ answer_text ? 'Taip' : 'Ne' }}</td>
                        {% else %}
                            <td>{{ answer_text }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('feedback_index') }}">Grįžti į sąrašą</a>

{% endblock %}
